@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary: #5f71f3;
  --node-width: 100px;
  --column-gap: 32px;
  --row-grap: 16px;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: 6vh;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

main {
  padding: 8px;
}

footer {
  height: 4vh;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

button {
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

textarea {
  background-color: #fff;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--primary);
  resize: none;
  height: 100%;
  padding: 4px;
  font-size: 14px;
  width: var(--node-width);
}

.node {
  background-color: #fff;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--primary);
  position: relative;
  width: var(--node-width);
  padding: 4px;
  font-size: 14px;
}

.top::after {
  content: "";
  position: absolute;
  width: calc((var(--node-width) / 2) + var(--column-gap));
  height: calc(var(--node-width) / 2);
  border-top: 1px dotted red;
  border-right: 1px dotted red;
  bottom: var(--row-gap);
  z-index: -1;
}

.bottom::after {
  content: "";
  position: absolute;
  width: calc((var(--node-width) / 2) + var(--column-gap));
  height: calc(var(--node-width) / 2);
  border-bottom: 1px dotted red;
  border-right: 1px dotted red;
  top: -16px;
  z-index: -1;
}
