@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary: #5f71f3;
  --error: #f35f7e;
  --node-width: 80px;
  --column-gap: 32px;
  --row-grap: 16px;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: 6vh;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

main {
  padding: 8px;
}

footer {
  height: 4vh;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

button {
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

input {
  background-color: #fff;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--primary);
  resize: none;
  /* height: 100%; */
  padding: 4px;
  font-size: 14px;
  width: var(--node-width);
}

.node {
  background-color: var(--primary);
  border-radius: 4px;
  border: 1px solid var(--primary);
  position: relative;
  width: var(--node-width);
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
}

.node-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}
.node-meta {
  color: var(--primary);
  background-color: white;
  text-align: center;
  font-size: 11px;
}
.top::after {
  content: "";
  position: absolute;
  width: calc((var(--node-width) / 2) + var(--column-gap));
  height: calc(var(--node-width) / 2);
  border-top: 1px dotted var(--error);
  border-right: 1px dotted var(--error);
  bottom: var(--row-gap);
  z-index: -1;
}

.bottom::after {
  content: "";
  position: absolute;
  width: calc((var(--node-width) / 2) + var(--column-gap));
  height: calc(var(--node-width) / 2);
  border-bottom: 1px dotted var(--error);
  border-right: 1px dotted var(--error);
  top: -16px;
  z-index: -1;
}
